
 <form id="review-form" [formGroup]="reviewForm" formControlName="rating">
    <div class="form-group">
        <label for="inputRating">Rate the Product:</label>
        
            <div class="col-sm-12">
                <ul class="list-inline rating-list" 
                    *ngFor="let star of stars" style="display: inline-block" >
                      <li (click)="countStar(star)"
                          [ngClass]="{'selected': (star <= selectedValue)}">
                        <i class="fa fa-star"></i>
                      </li> 
                </ul>
            </div> 
        <input type="text" rows="2" class="form-control" formControlName="comments" id="inputComments" placeholder="Write a review...">

                <div class="margin-top-10">
                    <button type="button" class="btn btn-sm btn-primary pull-right" (click)="addAProductReview()">Submit Review</button>
                </div>
    </div>
</form>
<div *ngIf="productReviewsList == undefined && productReviewsList == null">
   <p>Be the first one to add a review!</p> 
</div>
<div *ngIf="productReviewsList !== undefined && productReviewsList !== undefined">
<table>
    <thead>
        <tr>
            <!-- <th scope="col">Customer ID</th>
            <th scope="col">Product ID</th>-->
            <th scope="col">Product Rating</th> 
            <th scope="col">Product Reviews:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let productReviews of productReviewsList">
            <!-- <td>{{ productReviews.customer_id }} </td> 
            <td>{{ productReviews.product_id }} </td>  -->
            
            <td>{{ productReviews.rating }} </td>  
            <td>{{ productReviews.productComments }} </td> 
        </tr>
    </tbody>
</table>
</div> 