


<form id="review-form" [formGroup]="reviewForm">
    <div class="form-group">
        <label for="inputFirstName">Product Rating:</label>
        
            <div class="col-sm-12">
                <ul class="list-inline rating-list" 
                    *ngFor="let star of stars" style="display: inline-block" >
                      <li (click)="countStar(star)"
                          [ngClass]="{'selected': (star <= selectedValue)}">
                        <i class="fa fa-star"></i>
                      </li> 
                </ul>
            </div>
          
        <!-- <input type="hidden" class="form-control" formControlName="rating" id="inputRating" placeholder="Enter Rating"> -->
      </div>
    <div class="form-group">
        <label for="inputLastName">Product Comments:</label>
        <input type="text" class="form-control" formControlName="comments" id="inputComments" placeholder="Write a review...">
    </div>

    <button class="btn btn-primary" (click)="addAProductReview()">Submit</button>
</form>

<p> Product Rating</p>
<div *ngIf="productReviewsList == undefined && productReviewsList == undefined">
   <p>Be the first one to add a review!</p> 
</div>
<div *ngIf="productReviewsList !== undefined && productReviewsList !== undefined">
<table>
    <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Product ID</th>
            <th scope="col">Product Rating</th>
            <th scope="col">Product Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let productReviews of productReviewsList">
            <td>{{ productReviews.customer_id }} </td> 
            <td>{{ productReviews.product_id }} </td> 
            <td>{{ productReviews.rating }} </td> 
            <td>{{ productReviews.productComments }} </td> 
        </tr>
    </tbody>
</table>
</div>