<app-navbar></app-navbar>
<!-- <div *ngIf="product !== undefined">
<div class ="row">
    <div class="col-12">
        <h1> {{ product.name }}</h1>
    </div>
</div>
</div>
<div class ="row">
    <div class="col-5">
        <img class="card-img-top" [src]="product.image" alt="Card image cap">
    </div>
    <div class="col-7">
        <ul>
            <li>{{ product.description }}</li>
            <li>{{ product.price | currency }}</li>
            <li>{{ product.quantity }}</li>
            <li>{{ product.rating }}</li>
        </ul>

        <div>
        <button [routerLink]="['/home']" class="btn btn-primary">Back to Store</button>
        </div>   
    </div>
</div> -->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <!-- product -->
    <div class="product-content product-wrap clearfix product-deatil">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                    <img class="card-img-top" [src]="product.image" alt="No image available">
                </div>
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                <h3 class="name">
                    {{ product.name }}
                </h3>    
                <hr />
                    <span class="fa fa-2x"><h6>{{product.rating}}/5 ratings</h6></span>
                <hr />
                <h3 class="price-container">
                   {{ product.price | currency }}
                    <small>*includes tax</small>
                </h3>
                <hr />
                <div class="description description-tabs">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                        <li class="active">
                            <a href="#more-information" data-toggle="tab" class="no-margin">See Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                        </li>
                        
                        <li class="nav-item">
                        <li class="">
                            <a href="#reviews" data-toggle="tab">See Reviews</a>
                        </li>  
                    </ul>

                        <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="more-information">
                            <br />
                            <strong>Product Description</strong>
                            <p>
                                {{ product.description }}
                            </p>
                        </div>
                        
                        <div class="tab-pane fade active in" id="reviews">
                            <app-product-reviews [productInfo]="product"></app-product-reviews> 
                        </div>
                        </div>
                
                <div>
        		<button [routerLink]="['/home']" class="btn btn-primary">Back to Store</button>
        	    </div>
            </div>
        </div>
    </div>
    <!-- end product -->
</div>
</div>

