<nav class="navbar navbar-expand-lg" style="background-color: #cff3fb;">
    <img src="../../../assets/images/quirkypet.png" width="8%" height="8%" alt="">
    <span class="navbar-brand mb-0 h1">
        <h4><a [routerLink]="['/home']">Quirky Pets Shoppe</a></h4>
    </span> 

    
    <form class="form-inline">
        <div class="topnav-centered">
        <input type="search" (ngModelChange)="callSearchMethod(key.value)" #key="ngModel" ngModel name="key"
        id="searchItem" class="form-control" placeholder="Search item.." aria-label="Search" />
        </div>
    </form>
    
    

    <ul class="navbar-nav ml-auto">
            <!-- Cart Button -->
        <li class="nav-item">    
        <button type="button" id="btn1" class="btn btn-warning" [routerLink]="['/cart']">
            Cart
            <span class="badge badge-info">{{cartCount}}</span>
            </button>
        </li> 

            <!-- Previous Orders Button -->
        <li class="nav-item"> 
        <button type="button" id="btn2" class="btn btn-primary" [routerLink]="['/previousorders']">
            Previous Orders
            </button>
        </li>

            <!-- Logout Button -->
        <li class="nav-item">
        <button type="button" class="btn btn-danger" (click)="logout();">Logout
            </button>
        </li>

    </ul>        
</nav>
