.card {
    /* size: auto;
    min-width: 275px;
    max-width: 200px;
    height: fit-content;
    transition: .2s ease-out; */
  
    padding-bottom: 55%; 
    height: 680px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px
  }


#rating-container {
  height: 400px

}  
  
  img
  {
    justify-content: center;
    height: 188px;
    width: 300px;
    max-height: 300px;
    max-width: 400px;
    left:0;
  }
  
  /* div {
    position: relative;
    transition: .2s ease-out;
  } */
  
  .card:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    transform: translate3d(0,-10px,0);
  }

  .rating-list li, .rating-list li.selected {
    float: right;
    color: #b9b8b3;
    padding: 10px 5px;
  
  }
  
  .rating-list li.selected {
    color: #ffd700;
  } */
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }