<app-navbar [childMessage]="message" (messageEvent)="receiveCount($event)" ></app-navbar>

<div class="container">
    <div class="row align-items-start">
       <div class="col" *ngFor="let product of allProducts">
            <app-product-card
                class="cardListItem"
                [productInfo]="product"
                [cartId] = "cartId"
                [cartProducts] = "cartProducts"
                [subscription] = "subscription"
                (messageEvent)="receiveMessage($event)"
            ></app-product-card> 
        </div> 
        <br>
    </div>
</div>
